body{
    text-align:center;
    background:url(https://i.imgur.com/12E04al.png);
}
h1{
    color:red;
    font-family: 'Unlock', cursive;
}
    h2{
        color:white;
       font-family: 'Carter One', cursive;
    }